body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0f172a;
    color: #e5e7eb;
}

header {
    background: #020617;
    padding: 15px;
    text-align: center;
}

nav a {
    color: #38bdf8;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background: #020617;
    border-radius: 8px;
}

h1, h2 {
    color: #38bdf8;
}

button {
    background: #38bdf8;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

input {
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
}
